[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-jazzmin = "*"
django-prometheus = "*"
djangorestframework = "*"
pillow = "*"
flake8 = "*"
weasyprint = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
