{% extends 'crud.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block modal_form_action_url %} {% url 'accounts:user' %} {% endblock %}

{% block thead %}
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>User ID</th>
        <th>Role</th>
        <th>Mobile</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
{% endblock %}
<tbody>
{% block tbody %}
    {% for obj in object_list %}
        <tr id="table_row_{{ obj.id }}">
            <td>
                <div class="avatar avatar-sm">
                    {% if obj.profile.photo %}
                        <img src="{{ obj.profile.photo.url }}" alt="{{ obj.name }}">
                    {% else %}
                        <span class="avatar-content">IMG</span>
                    {% endif %}
                </div>

            </td>
            <td>{{ obj.get_full_name }}</td>
            <td>{{ obj.id }}</td>
            <td>
                {% for group in obj.groups.all %}
                    {% if obj.id == obj.staff_shop.owner_id %}
                        <span class="badge badge-success">Owner Of This Shop</span>  <br>
                    {% else %}
                        <span class="badge badge-warning">{{ group.name|title }}</span> <br>
                    {% endif %}

                {% endfor %}

            </td>
            <td>{{ obj.phone }}</td>
            <td>{{ obj.pin }}</td>


            {% if permitted_for_change or permitted_for_delete %}
                <td>
                    {% if permitted_for_change %}
                        <a href="#" data-id="{{ obj.id }}"
                           class="badge badge-primary edit" data-toggle="modal" data-target="#crud_modal">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    {% endif %}

                    {% if permitted_for_delete %}
                        <a href="#" data-name="{{ obj }}" data-id="{{ obj.id }}"
                           class="badge badge-danger delete" data-toggle="modal"
                           data-target="#delete_modal">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    {% endif %}

                    {% if obj.id != request.user.id %}
                        <a href="#" data-user_id="{{ obj.id }}"
                           class="badge badge-info login_as_user">
                            <i class="feather icon-log-in"></i> Login
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}