
<div class="card-body">
    <div id="product-order-chart"></div>
    <div class="chart-info d-flex justify-content-between mb-1 mt--5">
        <div class="series-info d-flex align-items-center">
            <i class="fa fa-circle-o text-bold-700 text-primary"></i>
            <span class="text-bold-600 ml-50">Finished</span>
        </div>
        <div class="product-result">
            <span>23043</span>
        </div>
    </div>
    <div class="chart-info d-flex justify-content-between mb-1">
        <div class="series-info d-flex align-items-center">
            <i class="fa fa-circle-o text-bold-700 text-warning"></i>
            <span class="text-bold-600 ml-50">Pending</span>
        </div>
        <div class="product-result">
            <span>14658</span>
        </div>
    </div>
    <div class="chart-info d-flex justify-content-between mb-75">
        <div class="series-info d-flex align-items-center">
            <i class="fa fa-circle-o text-bold-700 text-danger"></i>
            <span class="text-bold-600 ml-50">Rejected</span>
        </div>
        <div class="product-result">
            <span>4758</span>
        </div>
    </div>
</div>