{% load static %}
<div class="card bg-analytics text-white">
    <div class="card-content">
        <div class="card-body text-center">
            <img src="{% static 'img/decore-left.png' %}" class="img-left" alt="card-img-left">
            <img src="{% static 'img/decore-right.png' %}" class="img-right" alt="card-img-right">
            <div class="avatar avatar-xl bg-primary shadow mt-0">
                {% if request.user.profile.photo %}
                    <div class="avatar-content">
                        <img src="{{ request.user.profile.photo.url }}" alt="">
                    </div>
                {% else %}
                    <div class="avatar-content">
                        <i class="feather icon-award white font-large-1"></i>
                    </div>
                {% endif %}
            </div>
            <div class="text-center">
                <h1 class="mb-2 text-white">Congratulations {{ request.user.get_full_name }},</h1>
                <p class="m-auto w-75">You have done <strong>57.6%</strong> work of your projects so far.</p>
            </div>
        </div>
    </div>
</div>