{% load static %}

<!-- BEGIN: Vendor JS-->
<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'vendors/js/select/select2.full.js' %}"></script>
<script src="{% static 'vendors/js/toastr.min.js' %}"></script>
<!-- BEGIN Vendor JS-->


<!-- BEGIN: Theme JS-->
<script src="{% static 'js/core/app-menu.min.js' %}"></script>
<script src="{% static 'js/core/app.min.js' %}"></script>
<script src="{% static 'js/flatpickr.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<!-- END: Theme JS-->
