[Unit]
Description=shop_men-uWSGI-instance
After=network.target postgresql-11.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/shop_men
Environment="PATH=/opt/shop_men/venv/bin"
ExecStart=/opt/shop_men/venv/bin/uwsgi --ini /opt/shop_men/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target