{% extends 'base.html' %}
{% load static humanize %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/core/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/dashboard-analytics.css' %}">
{% endblock %}
{% block content_wrapper %}
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section id="dashboard-analytics">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    {% include 'dashbaord/user_status.html' %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <table class="table">
                            <tr>
                                <th>Pending Contract</th>
                                <th>Running Contract</th>
                                <th>Completed Contract</th>
                            </tr>
                            <tr>
                                <td>43</td>
                                <td>65</td>
                                <td>100</td>
                            </tr>
                        </table>
                        <div class="card-content">
                            <div id="orders-received-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between pb-0">
                            <h4>Product Wise Budget</h4>
                        </div>
                        <div class="card-content">
                            {% include 'dashbaord/top_customers.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Budget Distributed By Executive Engineers</h4>
                        </div>
                        <div class="card-content">
                            {% include 'dashbaord/top_selling_products.html'  %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/dashboard-analytics.js' %}"></script>
{% endblock %}