{% extends 'base.html' %}
{% load static humanize %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/core/apexcharts.css' %}">
<link rel="stylesheet" href="{% static 'css/core/dashboard-analytics.css' %}">
{% endblock %}
{% block content_wrapper %}
<div class="content-header row">
</div>
<div class="content-body">
    <section id="dashboard-analytics">
        <div class="row">
            <div class="col-md-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div id="avg-session-chart"
                                         style="min-height: 100px;">
                                        <div id="apexchartsqj3rfxekj"
                                             class="apexcharts-canvas apexchartsqj3rfxekj light"
                                             style="width: 219px; height: 50px;">

                                            <div class="apexcharts-legend"></div>
                                            <div class="apexcharts-tooltip light"
                                                 style="left: 76.8141px; top: -5px;">
                                                <div class="apexcharts-tooltip-series-group active"
                                                     style="display: flex;">
                                                    <span class="apexcharts-tooltip-marker"
                                                          style="background-color: rgb(115, 103, 240);"></span>
                                                    <div class="apexcharts-tooltip-text"
                                                         style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                        <div class="apexcharts-tooltip-y-group">
                                                            <span class="apexcharts-tooltip-text-label">Sessions: </span><span
                                                                class="apexcharts-tooltip-text-value">225</span>
                                                        </div>
                                                        <div class="apexcharts-tooltip-z-group">
                                                            <span class="apexcharts-tooltip-text-z-label"></span><span
                                                                class="apexcharts-tooltip-text-z-value"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row avg-sessions pt-50">
                                <div class="col-6">
                                    <p class="mb-0">Goal: $100000</p>
                                    <div class="progress progress-bar-primary mt-25">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow="50"
                                             aria-valuemin="50"
                                             aria-valuemax="100"
                                             style="width:50%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Users: 100K</p>
                                    <div class="progress progress-bar-warning mt-25">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow="60"
                                             aria-valuemin="60"
                                             aria-valuemax="100"
                                             style="width:60%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Retention: 90%</p>
                                    <div class="progress progress-bar-danger mt-25">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow="70"
                                             aria-valuemin="70"
                                             aria-valuemax="100"
                                             style="width:70%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Duration: 1yr</p>
                                    <div class="progress progress-bar-success mt-25">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow="90"
                                             aria-valuemin="90"
                                             aria-valuemax="100"
                                             style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6 col-sm-12">
                {% include 'dashboard/transaction_status.html' %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card text-center py-2">
                    <h2>Top 10 Product</h2>
                </div>
                <div class="card table-responsive">

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Photo</th>
                            <th>Average Sale Per Day</th>
                            <th>In Stock</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Oil</td>
                            <td>
                                <div class="avatar  avatar-lg">
                                    <img class="avatar"
                                         src="https://i.ytimg.com/vi/jAhpgbBYa5c/maxresdefault.jpg"
                                         alt="">
                                </div>
                            </td>
                            <td>
                                150 ps
                            </td>
                            <td>
                                1400
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center py-2">
                    <h2>Top 10 Customer</h2>
                </div>
                <div class="card table-responsive">

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Photo</th>
                            <th>Average Sold Per Day</th>
                            <th>Total Sold</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Oil</td>
                            <td>
                                <div class="avatar  avatar-lg">
                                    <img class="avatar"
                                         src="https://i.ytimg.com/vi/jAhpgbBYa5c/maxresdefault.jpg"
                                         alt="">
                                </div>

                            </td>
                            <td>
                                150 ps
                            </td>
                            <td>
                                1400
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center py-2">
                    <h2>Top 10 Supplier</h2>
                </div>
                <div class="card table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Photo</th>
                            <th>Average Purchase Per Week</th>
                            <th>Total Bought</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Oil</td>
                            <td>
                                <div class="avatar  avatar-lg">
                                    <img class="avatar"
                                         src="https://i.ytimg.com/vi/jAhpgbBYa5c/maxresdefault.jpg"
                                         alt="">
                                </div>
                            </td>
                            <td>
                                150 ps
                            </td>
                            <td>
                                1400
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<script src="{% static 'js/dashboard-analytics.js' %}"></script>

{% endblock %}